.plant-detail-page-title {
  text-align: center;
  color: rgb(23, 119, 23);
  font-family: "Architects Daughter", cursive, Calibri;
  font-size: 3rem;
}

.plant-detail-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .plant-detail-column-1 {
    width: 12rem;
    font-weight: bold;
  }

  .plant-detail-picture-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;

    .plant-detail-picture {
      height: 20rem;
      width: auto;
      box-shadow: 5px 10px 18px #888888;
      border-radius: 2rem;
      margin-bottom: 1rem;
    }
  }
}

.comments-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  .comment-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;

    .comment-text-container {
      width: 40%;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .profile-picture-container {
      width: 10vw;
      text-align: center;

      .profile-picture {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        height: 5rem;
        width: 5rem;
        border-radius: 100px;
        object-fit: cover; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
      }
      p {
        font-size: 0.6rem;
      }
    }
  }
}
