.Profile-Page {
  height: 100vh;
}

.profile-page-title {
  text-align: center;
  color: rgb(23, 119, 23);
  font-family: "Architects Daughter", cursive, Calibri;
  font-size: 3rem;
}

.profile-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .profile-detail-column-1 {
    width: 12rem;
    font-weight: bold;
  }

  .profile-picture-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;

    .profile-picture {
      height: 20rem;
      width: auto;
      box-shadow: 5px 10px 18px #888888;
      border-radius: 2rem;
      margin-bottom: 1rem;
    }
  }
}
